<div *ngIf="visible">
  <nz-modal [nzVisible]="true" [nzTitle]="title" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()" [nzClosable]="false" nzWidth="1000">
    <nz-divider nzText="文章标题"></nz-divider>
    <div>
      <textarea nz-input placeholder="请输入标题" [(ngModel)]="articleRequest.articleTitle"></textarea>
    </div>
    <nz-divider nzText="文章内容"></nz-divider>
    <div>
      <editor [init]="editorConfig" [(ngModel)]="articleRequest.articleContent"></editor>
    </div>
  </nz-modal>
</div>
