<div>
  <div class="article-margin">
    <article nz-typography>
      <h1 nz-title [nzEllipsis]="true">{{ article.articleTitle}}</h1>
      <p nz-paragraph [nzEllipsis]="true">作者：{{ article.userName }}</p>
      <p>
        <i nz-icon nzType="eye" style="margin-right: 8px;"></i> {{ article.articleRead }}
        <nz-divider nzType="vertical"></nz-divider>
        <i nz-icon nzType="history" style="margin-right: 8px;"></i> {{ article.articleIssueTime }}
      </p>
      <nz-divider></nz-divider>
<!--      <editor apiKey='qye1jtd70famwqwxq5b1zb1rwan29wgoq3nyocz36lil0r5k' disabled="true" [ngModel]="article.articleContent" [init]="editorConfig"></editor>-->
      <editor disabled="true" [ngModel]="article.articleContent" [init]="editorConfig"></editor>
    </article>
  </div>

  <div class="article-margin">
    <nz-divider nzText="评论"></nz-divider>

    <ng-template #commentTemplateRef let-item="item">
      <nz-comment [nzAuthor]="item.userName" [nzDatetime]="item.commentTime">
        <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
        <nz-comment-content>
          <p>{{ item.commentContent }}</p>
        </nz-comment-content>
        <nz-comment-action>
          <i (click)="reply(item)">回复</i>
          <i style="margin-left: 10px" *ngIf="item.children && item.children.length && !item.unfold" (click)="unfold(item)">展开</i>
        </nz-comment-action>
        <!--回复框-->
        <nz-comment *ngIf="item.reply">
          <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
          <nz-comment-content>
            <nz-form-item>
              <textarea [(ngModel)]="replyValue" nz-input rows="3"></textarea>
            </nz-form-item>
            <nz-form-item>
              <button nz-button nzType="primary" nzLoading="false" [disabled]="!replyValue" (click)="replySubmit(item)">
                回复
              </button>
              <button style="margin-left: 10px" nz-button nzLoading="false" (click)="replyClose(item)">
                取消
              </button>
            </nz-form-item>
          </nz-comment-content>
        </nz-comment>
        <!--子项-->
        <ng-container *ngIf="item.children && item.children.length && item.unfold">
          <ng-template ngFor let-child [ngForOf]="item.children">
            <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ item: child }"></ng-template>
          </ng-template>
        </ng-container>

      </nz-comment>
    </ng-template>

    <ng-template ngFor let-com [ngForOf]="comment">
      <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ item: com }"></ng-template>
    </ng-template>

    <nz-comment>
      <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
      <nz-comment-content>
        <nz-form-item>
          <textarea [(ngModel)]="commentValue" nz-input rows="3"></textarea>
        </nz-form-item>
        <nz-form-item>
          <button nz-button nzType="primary" nzLoading="false" [disabled]="!commentValue" (click)="commentSubmit()">
            评论
          </button>
        </nz-form-item>
      </nz-comment-content>
    </nz-comment>

  </div>
</div>

