.log-margin{
  margin-top: 5px;
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
  margin-top: 10px;
}

.nav-flex{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
